<% provide(:title, 'About') %>

<h1>About</h1>

<p>About is a web application that was designed by Colin Stodd. It was created by a musician for musicians.  Its simply to help  digitally organize and arrange your performances' setlists.</p>

<p>for questions or concerts please contact the developer <a href="mailto:cbstodd@gmail.com">Colin Stodd</a>.</p>





